<%- include("header", {}) %>
<div class="container">
    <main class="contactos">
        <h1>Aquí están los contactos disponibles:</h1>
        <% data_array.forEach(function(contacto) { %>
            <h2><%= contacto.nombre %></h2>
            <li>Edad: <%= contacto.edad %></li><br>
            <li>Teléfono: <%= contacto.telefono %></li><br>
            <li>Correo: <%= contacto.correo %></li><br>
            <li>Cumpleaños: <%= contacto.birthday %></li><br>
            <br>
        <% }); %>
    </main>
</div>
<%- include("footer", {}) %>
